<div class="section footer-section">
  <div>
    HarryApp New Zealand - 2016 All rights reserved
  </div>
  <div class="col-xs-6">
    <p><a href ng-click="scrollTo('howitworks')">Features</a></p>
    <p><a href ng-click="scrollTo('testimonials')">Testimonials</a></p>
  </div>
  <div class="col-xs-6">
    <p>
      <a href="https://www.facebook.com/harryapp" target="_blank">
        <i class="fa fa-facebook-official"></i>
      </a>
      <a href="https://twitter.com/harryappnz" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </p>
    <p><a href="mailto:info@harryapp.co?Subject=Hello%20HarryApp" target="_top">info@harryapp.co</a></p>
  </div>
</div>