$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../assets/icons/flaticon.scss';
/**
 * App-wide Styles
 */

$harry-primary-color: white;
$harry-secondary-color: #2babe2;
$harry-inactive-color: #c3c3c3;

@font-face {
    font-family: Brown-Bold;
    src: url(../assets/fonts/Brown-Bold/Brown-Bold.woff);
}
@font-face {
    font-family: Brown-Regular;
    src: url(../assets/fonts/Brown-Regular/Brown-Regular.woff);
}
@font-face {
    font-family: Brooklyn-Samuels-Bold;
    src: url(../assets/fonts/BrooklynSamuelsFive-Bold/BrooklynSamuelsFive-Bold.woff);
}

body {
  font-family: 'Ek Mukta', sans-serif;
  font-size:16px;
}
html, body {
  overflow-x: hidden;
}
.primary-text{
  opacity: 0.87;
}
.secondary-text{
  opacity: 0.54;
}
.disable-text{
  opacity: 0.38;
}

h1{
  color: $harry-primary-color;
  @extend .primary-text;
}
h2{
  @extend .secondary-text;
}
// Component styles are injected through grunt
// injector
@import 'get-in-touch/styles.scss';
@import 'how-it-works/styles.scss';
@import 'main/styles.scss';
@import 'steps/styles.scss';
@import 'testimonials/styles.scss';
@import '../components/footer/styles.scss';
@import '../components/navbar/styles.scss';
// endinjector
