$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:400,200,700);
/**
 * App-wide Styles
 */

$harry-light-blue: #00acf1;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Ek Mukta', sans-serif;
}
// Component styles are injected through grunt
// injector
@import 'get-in-touch/styles.scss';
@import 'how-it-works/styles.scss';
@import 'main/styles.scss';
@import 'testimonials/styles.scss';
@import '../components/footer/styles.scss';
@import '../components/navbar/styles.scss';
// endinjector
