$text-color:white;

// #info {
//   position: fixed;
//   top: 20px;
//   left: 20px;
//   background-color: rgba(0,0,0,0.5);
//   color: #fff;
//   padding: 20px;
//   z-index: 9999;
// }

.how-it-works-section{
  background-color: $harry-secondary-color;
  color: $text-color;
  overflow:hidden;
  display: block;

  .features-container{
    margin-top: 50px;
    display:flex;
  }
  .step{
    margin-top: 50px;
    min-height:400px;
    display: table;
    margin-left:auto;
    margin-right:auto;
    border-bottom: solid 1px #009bdf;
    text-align:center;
    .step-title{
      font-size:3em;
      font-family: 'Brooklyn-Samuels-Bold';
      line-height:1em;
    }
    .step-desc{
      color: #ceecfb;
      font-size:1em;
      font-family: 'Brown-Regular';
    }
    .step-image{
      margin-left:auto;
      margin-right:auto;
      margin-top:50px;
      margin-bottom:50px;
      max-width:300px;
      object{
        display: inherit;
        left:0;
        right:0;
        width: 100%;
      }
    }
    &.step-1{
      margin-top:100px;
    }
  }

  .need-a-harry-panel{
    margin-right: auto;
    margin-left: auto;
    .feature-icon{
      margin-left:30px;
    }
  }

  .be-a-harry-panel{
    margin-right: auto;
    margin-left: auto;
    .feature-icon{
      margin-right:30px;
    }
  }

  h2{
    padding-bottom:50px;
  }

  .celphone{
    margin-top:auto;
    margin-bottom:auto;
    img{
      margin-left:auto;
      margin-right:auto;
      display:block;
      height:500px;
    }
  }
  .features{
    max-width: 300px;
  }
  .feature{
    display: flex;
    height: 150px;
    .feature-icon{
      @extend .primary-text;
      i{
        &:before{
          margin-left: 0;
          font-size: 50px;
        }
      }
    }
    .feature-description{
      display: block;
      text-align: center;
      p{
        @extend .secondary-text;
      }
      .feature-title{
        @extend .primary-text;
        font-weight: bold;
      }
    }
  }
  .feature + .feature{
    margin-top: 50px;
  }
}

/* Small devices (tablets, 768px and below) */
@media (max-width: $screen-xs-max){
  .how-it-works-section{
    .features-container{
      display: block;
      .features{
        margin-left:auto;
        margin-right:auto;
        min-width:100%;
        padding: 10px 15px;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and(max-width: $screen-md-min) {

}
/* Large devices (large desktops, 1200px and up) */
@media screen and(max-width: $screen-lg-min) {

}

