<header id="header">
<a id="menu-icon" href ng-click="openMenu()"><span class="first"></span><span class="second"></span><span class="third"></span></a>
  <div class="logo">
    <a href ng-click="scrollTo('header')"><img src="assets/images/harry-logo.svg" alt=""></a>
  </div>
  <nav>
    <ul>
      <li><a href ng-click="scrollTo('howitworks')">HOW IT WORKS</a></li>
      <li><a href ng-click="scrollTo('testimonials')">TESTIMONIALS</a></li>
      <li><a href ng-click="scrollTo('getintouch')">GET IN TOUCH</a></li>
    </ul>
  </nav>
</header>

