
@font-face {
  font-family: 'BrooklynSamuelsFive-Bold';
  src: url('BrooklynSamuelsFive-Bold.eot?#iefix') format('embedded-opentype'),  url('BrooklynSamuelsFive-Bold.otf')  format('opentype'),
	     url('BrooklynSamuelsFive-Bold.woff') format('woff'), url('BrooklynSamuelsFive-Bold.ttf')  format('truetype'), url('BrooklynSamuelsFive-Bold.svg#BrooklynSamuelsFive-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
